
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;500;600;700&family=Tillana&display=swap');



:root{
  --yellow-color :rgb(233, 190, 89);
}

*{
  box-sizing: border-box;
  margin: 0;
  top: 0;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}