
@font-face {
    font-family: 'Old London';
    src: url('../public/fonts/OldLondon.ttf');
}

.logoContainer{
    display:flex ;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 20px;
}



.title{
        font-family: 'Old London';
        font-size: 40px;
}

.linkContainer{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    margin: auto;
    margin-bottom: 20px;

}

.header{
    border-bottom: 2px var(--yellow-color) solid
}